rnc/eac.rnc

# 
#                             An XML Schema:
# Encoded Archival Context - Corporate Bodies, Persons, and Families (EAC-CPF)
# 
# See: https://eac.staatsbibliothek-berlin.de/schemata-and-tag-library/
# 
# *****************************************************************
# *                                                               *                
# *                            EAC-CPF 2.0                        *
# *                                                               *
# *                           2021 February 24                    *          
# *                                                               *
# *****************************************************************
# 
# *****************************************************************
# 
# EDITORS: Society of American Archivists Technical Subcommittee on Encoded Archival Standards (TS-EAS)
# 
# PUBLISHER: Society of American Archivists in collaboration with the Staatsbibliothek zu Berlin
# 
# PURPOSE: The EAC-CPF Schema is a communication standard for the description of corporate bodies,
# persons, and families. It is based on the International Council of Archives' International Standard 
# Archival Authority Record For Corporate Bodies, Persons and Families (ISAAR(CPF)). For additional
# documentation on the use of the standard, see the EAC-CPF Tag Library
# (http://eac.staatsbibliothek-berlin.de/schemata-and-tag-library/).
# 
# *****************************************************************
# 
# This schema has been generated automatically. 
# 
# If you would like to contribute to this project, please see:
# https://github.com/SAA-SDT/eac-cpf-schema/blob/development/CONTRIBUTING.md
# 
# Comments, questions, and suggestions may be addressed to: 
# ts-eas@archivists.org
# 
# *****************************************************************
# *****************************************************************
#

namespace local = ""
default namespace eac = "https://archivists.org/ns/eac/v2"

start = eac
eac =
  element eac {
    attribute audience { "external" | "internal" }?,
    attribute base { xsd:anyURI }?,
    attribute id { xsd:ID }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute * - (eac:* | local:*) { text }*,
    control,
    (cpfDescription | multipleIdentities)
  }
control =
  element control {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute languageEncoding {
      "iso639-1"
      | "iso639-2b"
      | "iso639-3"
      | "ietf-bcp-47"
      | "otherLanguageEncoding"
    }?,
    attribute scriptEncoding { "iso15924" | "otherScriptEncoding" }?,
    attribute dateEncoding { "iso8601" | "otherDateEncoding" }?,
    attribute countryEncoding { "iso3166-1" | "otherCountryEncoding" }?,
    attribute repositoryEncoding {
      "iso15511" | "otherRepositoryEncoding"
    }?,
    attribute maintenanceStatus {
      "revised"
      | "deleted"
      | "new"
      | "deletedSplit"
      | "deletedMerged"
      | "deletedReplaced"
      | "cancelled"
      | "derived"
    },
    attribute publicationStatus {
      "approved" | "published" | "inProcess"
    }?,
    recordId,
    maintenanceAgency,
    maintenanceHistory,
    sources?,
    (conventionDeclaration
     | languageDeclaration
     | localControl
     | localTypeDeclaration
     | otherRecordId
     | representation
     | rightsDeclaration)*
  }
cpfDescription =
  element cpfDescription {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    identity,
    description?,
    relations?,
    alternativeSet?
  }
multipleIdentities =
  element multipleIdentities {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    cpfDescription,
    cpfDescription+
  }
recordId =
  element recordId {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    xsd:string { pattern = "(.|\n|\r)*\S(.|\n|\r)*" }
  }
maintenanceAgency =
  element maintenanceAgency {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute countryCode { xsd:NMTOKEN }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    ((agencyCode, agencyName*, otherAgencyCode*)
     | (agencyName+, otherAgencyCode*)),
    descriptiveNote?
  }
maintenanceHistory =
  element maintenanceHistory {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    maintenanceEvent+
  }
sources =
  element sources {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    source+,
    descriptiveNote?
  }
conventionDeclaration =
  element conventionDeclaration {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    reference,
    shortCode?,
    descriptiveNote?
  }
languageDeclaration =
  element languageDeclaration {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute languageCode { xsd:NMTOKEN }
     & attribute scriptCode { xsd:NMTOKEN }?),
    descriptiveNote?
  }
localControl =
  element localControl {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    term+,
    (date | dateRange)?
  }
localTypeDeclaration =
  element localTypeDeclaration {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    reference,
    shortCode?,
    descriptiveNote?
  }
otherRecordId =
  element otherRecordId {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    text
  }
representation =
  element representation {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute href { xsd:anyURI }?
     & attribute linkRole { xsd:anyURI }?
     & attribute linkTitle { xsd:token }?
     & attribute lastDateTimeVerified {
         xsd:gYear | xsd:gYearMonth | xsd:date | xsd:dateTime
       }?),
    text
  }
rightsDeclaration =
  element rightsDeclaration {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    reference,
    shortCode?,
    descriptiveNote?
  }
identity =
  element identity {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute base { xsd:anyURI }?,
    attribute identityType { "given" | "acquired" }?,
    entityType,
    (nameEntry | nameEntrySet)+,
    otherEntityTypes?,
    identityId*,
    descriptiveNote?
  }
description =
  element description {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    functions?,
    languagesUsed?,
    legalStatuses?,
    localDescriptions?,
    mandates?,
    occupations?,
    places?,
    (biogHist | existDates | generalContext | structureOrGenealogy)*
  }
relations =
  element relations {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    relation+,
    descriptiveNote?
  }
alternativeSet =
  element alternativeSet {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute base { xsd:anyURI }?,
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    setComponent+
  }
agencyCode =
  element agencyCode {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute status { "authorized" | "alternative" }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    text
  }
agencyName =
  element agencyName {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    text
  }
otherAgencyCode =
  element otherAgencyCode {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    attribute status { "authorized" | "alternative" }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    text
  }
descriptiveNote =
  element descriptiveNote {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    p+
  }
maintenanceEvent =
  element maintenanceEvent {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute maintenanceEventType {
      "cancelled"
      | "created"
      | "deleted"
      | "derived"
      | "revised"
      | "unknown"
      | "updated"
    },
    agent,
    eventDateTime,
    eventDescription*
  }
source =
  element source {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute href { xsd:anyURI }?
     & attribute linkRole { xsd:anyURI }?
     & attribute linkTitle { xsd:token }?
     & attribute lastDateTimeVerified {
         xsd:gYear | xsd:gYearMonth | xsd:date | xsd:dateTime
       }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    reference+,
    citedRange*,
    descriptiveNote?,
    objectXMLWrap?
  }
reference =
  element reference {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (attribute href { xsd:anyURI }?
     & attribute linkRole { xsd:anyURI }?
     & attribute linkTitle { xsd:token }?
     & attribute lastDateTimeVerified {
         xsd:gYear | xsd:gYearMonth | xsd:date | xsd:dateTime
       }?),
    (span | text)+
  }
shortCode =
  element shortCode {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    text
  }
term =
  element term {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    text
  }
date =
  element date {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (attribute calendar { xsd:NMTOKEN }?
     & attribute certainty { xsd:NMTOKEN }?
     & attribute era { xsd:NMTOKEN }?
     & attribute notAfter { xsd:token }?
     & attribute notBefore { xsd:token }?
     & attribute standardDate { xsd:token }?),
    text
  }
dateRange =
  element dateRange {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    ((fromDate, toDate?) | toDate)
  }
entityType =
  element entityType {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    attribute value { "corporateBody" | "person" | "family" }
  }
nameEntry =
  element nameEntry {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute preferredForm { xsd:boolean }?,
    attribute status { "authorized" | "alternative" }?,
    part+,
    useDates*
  }
nameEntrySet =
  element nameEntrySet {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    nameEntry,
    nameEntry+,
    useDates*
  }
otherEntityTypes =
  element otherEntityTypes {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    otherEntityType+,
    descriptiveNote?
  }
identityId =
  element identityId {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    text
  }
functions =
  element functions {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    function+,
    descriptiveNote?
  }
languagesUsed =
  element languagesUsed {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    languageUsed+,
    descriptiveNote?
  }
legalStatuses =
  element legalStatuses {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    legalStatus+,
    descriptiveNote?
  }
localDescriptions =
  element localDescriptions {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    localDescription+,
    descriptiveNote?
  }
mandates =
  element mandates {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    mandate+,
    descriptiveNote?
  }
occupations =
  element occupations {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    occupation+,
    descriptiveNote?
  }
places =
  element places {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    place+,
    descriptiveNote?
  }
biogHist =
  element biogHist {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    head?,
    abstract?,
    (\list* & p* & chronList*)
  }
existDates =
  element existDates {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (date | dateRange | dateSet),
    descriptiveNote?
  }
generalContext =
  element generalContext {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    head?,
    (\list* & p*)
  }
structureOrGenealogy =
  element structureOrGenealogy {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    head?,
    (\list* & p*)
  }
relation =
  element relation {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    targetEntity,
    (date | dateRange | dateSet)?,
    (place | relationType | targetRole)*,
    descriptiveNote?,
    objectXMLWrap?
  }
setComponent =
  element setComponent {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute href { xsd:anyURI }?
     & attribute linkRole { xsd:anyURI }?
     & attribute linkTitle { xsd:token }?
     & attribute lastDateTimeVerified {
         xsd:gYear | xsd:gYearMonth | xsd:date | xsd:dateTime
       }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    componentEntry*,
    descriptiveNote?,
    objectXMLWrap?
  }
p =
  element p {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (reference | span | text)+
  }
agent =
  element agent {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    attribute agentType { "human" | "machine" | "unknown" },
    text
  }
eventDateTime =
  element eventDateTime {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute standardDateTime {
      xsd:gYear | xsd:gYearMonth | xsd:date | xsd:dateTime
    }?,
    text
  }
eventDescription =
  element eventDescription {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (reference | span | text)+
  }
citedRange =
  element citedRange {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute unit { xsd:token }?,
    text
  }
objectXMLWrap =
  element objectXMLWrap {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    _1
  }
span =
  element span {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute style { xsd:token }?,
    text
  }
fromDate =
  element fromDate {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (attribute calendar { xsd:NMTOKEN }?
     & attribute certainty { xsd:NMTOKEN }?
     & attribute era { xsd:NMTOKEN }?
     & attribute notAfter { xsd:token }?
     & attribute notBefore { xsd:token }?
     & attribute standardDate { xsd:token }?),
    attribute status { "unknown" }?,
    text
  }
toDate =
  element toDate {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (attribute calendar { xsd:NMTOKEN }?
     & attribute certainty { xsd:NMTOKEN }?
     & attribute era { xsd:NMTOKEN }?
     & attribute notAfter { xsd:token }?
     & attribute notBefore { xsd:token }?
     & attribute standardDate { xsd:token }?),
    attribute status { "ongoing" | "unknown" }?,
    text
  }
part =
  element part {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    xsd:string { pattern = "(.|\n|\r)*\S(.|\n|\r)*" }
  }
useDates =
  element useDates {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (date | dateRange | dateSet)
  }
otherEntityType =
  element otherEntityType {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    term+,
    (date | dateRange | dateSet)?,
    placeName*,
    descriptiveNote?
  }
function =
  element function {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    term+,
    (date | dateRange | dateSet)?,
    placeName*,
    descriptiveNote?
  }
languageUsed =
  element languageUsed {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (language | writingSystem)*,
    descriptiveNote?
  }
legalStatus =
  element legalStatus {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    term+,
    (date | dateRange | dateSet)?,
    placeName*,
    descriptiveNote?
  }
localDescription =
  element localDescription {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    term+,
    (date | dateRange | dateSet)?,
    placeName*,
    descriptiveNote?
  }
mandate =
  element mandate {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    term+,
    (date | dateRange | dateSet)?,
    placeName*,
    descriptiveNote?
  }
occupation =
  element occupation {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    term+,
    (date | dateRange | dateSet)?,
    placeName*,
    descriptiveNote?
  }
place =
  element place {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (placeName
     | placeRole
     | geographicCoordinates
     | address
     | contact)+,
    (date | dateRange | dateSet)?,
    descriptiveNote?
  }
head =
  element head {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (span | text)+
  }
abstract =
  element abstract {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (reference | span | text)+
  }
\list =
  element list {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute style { xsd:token }?,
    attribute listType { "ordered" | "unordered" }?,
    head?,
    (\list | item)*
  }
chronList =
  element chronList {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    chronItem+
  }
dateSet =
  element dateSet {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (date | dateRange),
    (date | dateRange)+
  }
targetEntity =
  element targetEntity {
    attribute targetType {
      "agent"
      | "corporateBody"
      | "person"
      | "family"
      | "function"
      | "resource"
    },
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    part+
  }
relationType =
  element relationType {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    text
  }
targetRole =
  element targetRole {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    text
  }
componentEntry =
  element componentEntry {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    text
  }
_1 =
  element * - eac:* {
    attribute * { text }*,
    (text | _1)+
  }
placeName =
  element placeName {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute countryCode { xsd:NMTOKEN }?,
    text
  }
language =
  element language {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute languageCode { xsd:NMTOKEN }?,
    text
  }
writingSystem =
  element writingSystem {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute scriptCode { xsd:NMTOKEN }?,
    text
  }
placeRole =
  element placeRole {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    text
  }
geographicCoordinates =
  element geographicCoordinates {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute coordinateSystem { xsd:token },
    xsd:normalizedString
  }
address =
  element address {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    addressLine+
  }
contact =
  element contact {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    contactLine+
  }
item =
  element item {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (reference | span | text)+
  }
chronItem =
  element chronItem {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (date | dateRange | dateSet),
    ((event, place?) | chronItemSet+),
    reference*
  }
addressLine =
  element addressLine {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    attribute addressLineType {
      "county"
      | "country"
      | "district"
      | "municipality"
      | "postBox"
      | "postalCode"
      | "region"
      | "street"
    }?,
    text
  }
contactLine =
  element contactLine {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (attribute href { xsd:anyURI }?
     & attribute linkRole { xsd:anyURI }?
     & attribute linkTitle { xsd:token }?
     & attribute lastDateTimeVerified {
         xsd:gYear | xsd:gYearMonth | xsd:date | xsd:dateTime
       }?),
    attribute contactLineType {
      "email" | "fax" | "homepage" | "mobileNumber" | "phoneNumber"
    }?,
    text
  }
event =
  element event {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute vocabularySource { xsd:token }?
     & attribute vocabularySourceURI { xsd:anyURI }?
     & attribute valueURI { xsd:anyURI }?),
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    (reference | span | text)+
  }
chronItemSet =
  element chronItemSet {
    (attribute audience { "external" | "internal" }?
     & attribute id { xsd:ID }?
     & attribute target { xsd:IDREFS }?
     & attribute * - (eac:* | local:*) { text }*),
    (attribute languageOfElement { xsd:NMTOKEN }?
     & attribute scriptOfElement { xsd:NMTOKEN }?),
    attribute localType { xsd:token }?,
    attribute localTypeDeclarationReference { xsd:IDREFS }?,
    (attribute maintenanceEventReference { xsd:IDREFS }?
     & attribute sourceReference { xsd:IDREFS }?
     & attribute conventionDeclarationReference { xsd:IDREFS }?),
    event+,
    (place | reference)*
  }
